# Projet Final

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Read the csv file

In [4]:
#read the csv file and store it in a dataframe
df = pd.read_csv('biodeg.csv', sep=';')
df.head(5)

,3.919,2.6909,0,0.1,0.2,0.3,0.4,31.4,2,0.5,...,0.19,0.20,0.21,2.949,1.591,0.22,7.253,0.23,0.24,RB
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,RB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 42 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   3.919   1054 non-null   float64
 1   2.6909  1054 non-null   float64
 2   0       1054 non-null   int64
 3   0.1     1054 non-null   int64
 4   0.2     1054 non-null   int64
 5   0.3     1054 non-null   int64
 6   0.4     1054 non-null   int64
 7   31.4    1054 non-null   float64
 8   2       1054 non-null   int64
 9   0.5     1054 non-null   int64
 10  0.6     1054 non-null   int64
 11  0.7     1054 non-null   float64
 12  3.106   1054 non-null   float64
 13  2.55    1054 non-null   float64
 14  9.002   1054 non-null   float64
 15  0.8     1054 non-null   int64
 16  0.96    1054 non-null   float64
 17  1.142   1054 non-null   float64
 18  0.9     1054 non-null   int64
 19  0.10    1054 non-null   int64
 20  0.11    1054 non-null   int64
 21  1.201   1054 non-null   float64
 22  0.12    1054 non-null   int64
 23  0.13    1054 non-null   int64
 24  0.14    1054 non-null   int64
 25  0.15    1054 non-null   int64
 26  1.932   1054 non-null   float64
 27  0.011   1054 non-null   float64
 28  0.16    1054 non-null   int64
 29  0.17    1054 non-null   float64
 30  4.489   1054 non-null   float64
 31  0.18    1054 non-null   int64
 32  0.19    1054 non-null   int64
 33  0.20    1054 non-null   int64
 34  0.21    1054 non-null   int64
 35  2.949   1054 non-null   float64
 36  1.591   1054 non-null   float64
 37  0.22    1054 non-null   int64
 38  7.253   1054 non-null   float64
 39  0.23    1054 non-null   int64
 40  0.24    1054 non-null   int64
 41  RB      1054 non-null   object
dtypes: float64(17), int64(24), object(1)
memory usage: 346.0+ KB

In [6]:
df.describe()

,3.919,2.6909,0,0.1,0.2,0.3,0.4,31.4,2,0.5,...,0.18,0.19,0.20,0.21,2.949,1.591,0.22,7.253,0.23,0.24
count,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,...,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000
mean,4.783463,3.069867,0.717268,0.042694,0.981025,0.290323,1.648008,37.061006,1.375712,1.805503,...,0.129981,0.884250,1.276091,0.962049,3.919159,2.559335,0.686907,8.630798,0.051233,0.723909
std,0.546527,0.831621,1.462980,0.256129,2.333867,1.074244,2.225299,9.147145,1.964359,1.775407,...,0.644351,1.520945,2.274734,1.257261,0.999630,0.642378,1.090701,1.241851,0.319118,2.240238
min,2.000000,0.803900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.267000,1.467000,0.000000,4.917000,0.000000,0.000000
25%,4.481000,2.499075,0.000000,0.000000,0.000000,0.000000,0.000000,30.425000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.488250,2.104000,0.000000,7.995750,0.000000,0.000000
50%,4.828000,3.046550,0.000000,0.000000,0.000000,0.000000,1.000000,37.500000,1.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,3.727000,2.458500,0.000000,8.500500,0.000000,0.000000
75%,5.125000,3.438725,1.000000,0.000000,1.000000,0.000000,3.000000,43.450000,2.000000,3.000000,...,0.000000,1.000000,2.000000,2.000000,3.987500,2.870750,1.000000,9.022250,0.000000,0.000000
max,6.496000,9.177500,12.000000,3.000000,36.000000,13.000000,18.000000,60.700000,24.000000,12.000000,...,8.000000,12.000000,18.000000,7.000000,10.695000,5.825000,8.000000,14.700000,4.000000,27.000000